body {
	background-color: white;
	}
.nav {
	display: inline;
	padding: 1em;
	list-style: none;
	}
header {
	text-align: center;
	width: 100%;
	padding: 12px;
	margin-bottom: 0.5em;
	font-size: 1em;
	font-family: 'Arial';
	font-color: black;
	}
div	{
	border: 3px solid black;
	padding: 1em;
	margin: 2em 4em 2em;
	}
h1 {
	text-align: center;
	font-size: 3.5em;
	font-family: 'Arial';
	color: black;
	width: fit-content;
	margin: auto;
	padding: 1px;
	}
.subt  {
        text-align: center;
	width: 100%;
        padding: 0px;
	color: black;
	}
h2 {
	text-align: left;
	font-family: 'Arial';
	color: black;
	text-decoration: underline;
	padding: 0.5em;
	font-size: 2em;
	}

h4 {
	text-align: left;
	font-family: 'Arial';
	color: black;
	padding: 1px;
	}
p {
        font-family: 'Arial';
  	margin-right: 7em;
	margin-left: 7em;
	overflow:auto;
        padding: 0.5em;
	outline: none;
	outline-color: 
	background-color: white;
	}
	
img  {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: fit-content;
	}
a {
        text-align: center;
	width: 100%;
	padding: 1em;
	margin: auto;
	font-size: 1em;
	font-family: 'Arial';
	}

	
        