body {
	background-color: white;
	}
.border	{
	  
	padding: 1em;
	margin: 2em 4em 2em;
	border: 3px solid black;
	}
header	{
	height: 20em;
	}
h1 {
	text-align: center;
	font-size: 4em;
	font-family: 'Arial';
	color: white;
	width: fit-content;
	margin: auto;
	padding-top: 1em;
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
	}
h2 {
	text-align: left;
	font-family: 'Arial';
	color: black;
	text-decoration: underline;
	padding: 0.5em;
	font-size: 2em;
	margin-left: 1em;
	}

h4 {
	text-align: center;
	font-family: 'Arial';
	color: white;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
	}
p {
        font-family: 'Arial';
  	margin-right: 3em;
	margin-left: 3em;
	overflow:auto;
        padding: 0.5em;
	outline: none;
	background-color: white;
	}
	
img  {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: fit-content;
	}
a {
	font-family: 'Arial';
	}
.anchor {
	text-align: center;
	padding: 2em;
	font-family: 'Arial';
	margin: auto;
  	width: 100%;
	}


	
        